<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/header :: header('Create Post')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<form action="/post/create" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" />

    <label for="body">body</label>
    <input id="body" name="body" type="text" width="400" height="200" />
    <button type="submit">Create Post</button>
</form>
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>