<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/header :: header('Delete Post')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Delete post?</h1>

<h3 th:text="${post.getTitle()}"></h3>
<p th:text="${post.getBody()}"></p>

<form action="/post/delete" method="post">
        <button name="id" th:value="${post.getId()}" type="submit">Delete</button>
</form>

<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>