<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/header :: header('Post')">
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <h1>Showing post <span th:text="${post.getId()}"></span> by <span th:text="${post.getOwner().getEmail()}"></span></h1>

    <h3 th:text="${post.getTitle()}"></h3>
    <p th:text="${post.getBody()}"></p>

    <form th:action="@{/post/{id}/edit (id=${post.getId()})}" th:method="get">
        <button th:text="Edit" th:type="submit"></button>
    </form>

    <form th:action="@{/post/{id}/delete (id=${post.getId()})}" th:method="get">
        <button th:text="Delete" th:type="submit"></button>
    </form>

</div>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>