<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../../static/assets/css/menu.css"/>
</head>
<body>

<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span> </label>
    <a href="#" class="menu-item item-0"><i class="fa fa-anchor"></i> </a>
    <a href="#" class="menu-item item-1"><i class="fa fa-anchor"></i> </a>
    <a href="#" class="menu-item item-2"> <i class="fa fa-coffee"></i> </a>
    <a href="#" class="menu-item item-3"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item item-4"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item item-5"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item item-6"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item item-7"> <i class="fa fa-heart"></i> </a>
</nav>

</body>
</html>