<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-sm scrolling-navbar mb-30" th:fragment="navbar">
    <div class="container">
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="sign-in">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class=""></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/post/create}">
                        Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Filler Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Filler text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>                    <div class="dropdown-menu">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="dropdown-item" th:href="@{/post/create}"><i class="lni-pencil-alt"></i> Create a post</a>
                            <form  th:action="@{/login}" th:method="get">
                                <button class="dropdown-item">Log in</button>
                            </form>
                        </div>
                            <div sec:authorize="isAuthenticated()">
                            <form  th:action="@{/logout}" th:method="post">
                                <button class="dropdown-item">Logout</button>
                            </form>

                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>